@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased; }

.row {
  margin-top: 2em; }

h1#main-title {
  font-weight: 300;
  color: #F9F7EB;
  position: relative;
  top: 300px;
  padding: 20px;
  border: 1px solid #F9F7EB;
  display: inline-block;
  font-size: 6em;
  letter-spacing: 15px;
  margin-top: 0; }

h2#main-subtitle {
  font-weight: 300;
  color: #F9F7EB;
  position: relative;
  font-weight: 400;
  opacity: 0;
  top: 320px;
  letter-spacing: 5px; }

.parallax-window {
  min-height: 2000px; }

path {
  stroke-linejoin: round; }

.land {
  fill: #ddd; }

.states {
  fill: none;
  stroke: #fff; }

.timeline {
  font-size: 16px;
  border: 1px solid black;
  border-radius: 0;
  line-height: 1.5;
  color: white;
  background-color: black;
  text-shadow: none;
  box-shadow: none; }
  .timeline .active, .timeline:hover, .timeline:active, .timeline:visited, .timeline:focus {
    background-color: transparent;
    border: 2px solid black;
    color: black; }

.nRockies {
  opacity: 0.6;
  fill: #b2273a; }

.gLakes {
  opacity: 0.6;
  fill: #796e24; }

.southwest {
  opacity: 0.6;
  fill: #337ab7; }

.pacNW {
  opacity: 0.6;
  fill: #432f21; }

#tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: none;
  font-size: 12px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); }

.hide {
  display: none; }

.map-event {
  position: absolute;
  z-index: 10;
  margin-top: 10em;
  padding: 1.5em;
  border-left: 4px solid black;
  background: rgba(255, 255, 255, 0.6); }

.event-button {
  font-weight: 700;
  z-index: 10;
  padding: 10px;
  background-color: rgba(67, 47, 33, 0.2);
  border: 0;
  border-top: 2px solid black; }
  .event-button:hover {
    background-color: rgba(67, 47, 33, 0.3); }

.close-event-content {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.6); }
  .close-event-content .active, .close-event-content:hover, .close-event-content:active, .close-event-content:focus {
    color: white;
    color: black;
    text-decoration: none; }

.event-description {
  font-size: 18px;
  line-height: 2; }

.event-images {
  width: 100%; }

ul.list-inline.postcol-event-buttons {
  margin: 3em 0; }

#slider-container {
  z-index: 5;
  position: relative; }

#play-or7 {
  z-index: 10;
  position: relative; }

#or7-map-canvas {
  height: 750px;
  width: 100%; }
