@mixin landing-title {
  color: #F9F7EB;
  position: relative;
}

body {
  margin-top: 0; }

h1#main-title {
  @include landing-title;
  top: 300px;
  padding: 20px;
  border: 1px solid #F9F7EB;
  display: inline-block;
  font-size: 6em;
  letter-spacing: 15px;
  font-weight: 400;
  margin-top: 0; }

h2#main-subtitle {
  @include landing-title;
  font-weight: 300;
  opacity: 0;
  top: 320px;
  letter-spacing: 5px;
}

.test {
  color: red; }

.parallax-window {
  min-height: 3000px;
}

// d3 MAP

path {
  stroke-linejoin: round;
}

.land {
  fill: #ddd;
}

.states {
  fill: none;
  stroke: #fff;
}

.nRockies {
  opacity: 0.6;
  fill: #b2273a;
}
