//Typhography
@import
url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

//Color Theme
$black: #000000;
$white: #FFFFFF;
$nRockies: #B2273A;
$gLakes: #796E24;
$southwest: #337ab7;
$pacNW: #432F21;

//Button Style
@mixin mapButtons {
  font-size: 16px;
  border: 1px solid $black;
  border-radius: 0;
  line-height: 1.5;
  color: $white;
	background-color: $black;
  text-shadow: none;
  box-shadow: none;

  .active,
  &:hover,
  &:active,
  &:visited,
  &:focus {
    background-color: transparent;
    border: 2px solid $black;
    color: $black;
  }
}
//Heading
@mixin landing-title {
  font-weight: 300;
  color: #F9F7EB;
  position: relative;
}

body {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.row {
  margin-top: 2em;
}

h1#main-title {
  @include landing-title;
  top: 300px;
  padding: 20px;
  border: 1px solid #F9F7EB;
  display: inline-block;
  font-size: 6em;
  letter-spacing: 15px;
  margin-top: 0;
}

h2#main-subtitle {
  @include landing-title;
  font-weight: 400;
  opacity: 0;
  top: 320px;
  letter-spacing: 5px;
}

.parallax-window {
  min-height: 2000px;
}

// d3 MAP

path {
  stroke-linejoin: round;
}

.land {
  fill: #ddd;
}

.states {
  fill: none;
  stroke: #fff;
}

.timeline {
  @include mapButtons;
}

.nRockies {
  opacity: 0.6;
  fill: $nRockies;
}

.gLakes {
  opacity: 0.6;
  fill: $gLakes;
}

.southwest {
  opacity: 0.6;
  fill: $southwest;
}

.pacNW {
  opacity: 0.6;
  fill: $pacNW;
}

#tooltip{
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: none;
  font-size: 12px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.hide {
  display: none;
}

.map-event {
  position: absolute;
  z-index: 10;
  margin-top: 10em;
  padding: 1.5em;
  border-left: 4px solid $black;
  background: rgba($white, 0.6);

}

.event-button {
  font-weight: 700;
  z-index:10;
  padding: 10px;
  background-color: rgba($pacNW, 0.2);
  border: 0;
  border-top: 2px solid $black;

  &:hover {
    background-color: rgba($pacNW, 0.3);
  }
}

.close-event-content {
  font-size: 2em;
  // color: rgba($white, 0.7);
  color: rgba($black, 0.6);

  .active,
  &:hover,
  &:active,
  &:focus {
    color: $white;
    color: $black;
    text-decoration: none;
  }
}

.event-description {
  // color: #EEEEEE;
  font-size: 18px;
  line-height: 2;
}

.event-images {
  width: 100%;
}

ul.list-inline.postcol-event-buttons {
  margin: 3em 0;
}

#slider-container {
  z-index: 5;
  position: relative;
  // bottom: 30em;
}

.infographic-image {
  width: 100%;
}
